body {
    background-color: #73c8a9;
    font-family: 'Press Start 2P', cursive;
    background-image: linear-gradient(to right, #72c89a, #373b44);
}

#score-display {
    color: #fff;
    font-size: 2em;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}